*history

.CFUserTextEncoding
.DownloadManager
.Rapp.history
.Trash
.Xauthority

.ackrc
.android
.argouml
.backup
.bash_history
.bash_profile
.bash_profile.macports*
.bundler
.cheat
.config
.crash_report_*
.cups
.dbvis
.deltafy
.dvdcss
.dropbox
.earthquake/*
!.earthquake/*.sample
.eclipse
.filezilla
.fontconfig
.freemind
.freeplane
.gem
.git-dude
.googl
.gorillarc
.heroku
.hgignore_global
.hgrc
.inkscape-etc
.keepassx
.lesshst
.mocksmtp
.oh-my-zsh
.npm
.passenger
.pgpass
.putty
.rdebug_hist
.recently-used.xbel
.ri
.rnd
.rurema
.rvm
.ssh
.sshterm
.subversion
.termtter
.titanium
.viminfo
.wine
.winetrickscache
.zcompdump
.zsh-update
.zshrc

bin/erb-ree*
bin/gem-ree*
bin/irb-ree*
bin/rake-ree*
bin/rdoc-ree*
bin/ree-*
bin/ri-ree*
bin/testrb-ree*

Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
VirtualBox VMs
current
evernote
github
projects
share
source
tmp
websites
x
