*history

.CFUserTextEncoding
.DownloadManager
.DS_Store
.Rapp.history
.Trash
.Xauthority

.ackrc
.android
.argouml
.backup
.bash_history
.bash_logout
.bash_profile
.bash_profile.macports*
.bitrock
.bundler
.cheat
.config
.crash_report_*
.cups
.dbvis
.deltafy
.dvdcss
.dropbox
.earthquake/*
!.earthquake/*.sample
.eclipse
.filezilla
.fontconfig
.fonts
.freemind
.freeplane
.gem
.git-dude
.googl
.gorillarc
.heroku
.hgignore_global
.hgrc
.inkscape-etc
.keepassx
.lesshst
.mocksmtp
.oh-my-zsh
.netrc
.npm
.passenger
.pgpass
.putty
.rbenv
.rdebug_hist
.recently-used.xbel
.ri
.rnd
.rurema
.rvm
.ssh
.sshterm
.subversion
.swt
.terminitor
.termtter
.titanium
.vegas
.vim
.viminfo
.wine
.winetrickscache
.zcompdump
.zsh-update
.zshrc

bin/erb-ree*
bin/gem-ree*
bin/irb-ree*
bin/rake-ree*
bin/rdoc-ree*
bin/ree-*
bin/ri-ree*
bin/rvm*
bin/testrb-ree*

Applications
Calibre Library
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
Sites
VirtualBox VMs
Wine Files
current
data
evernote
github
local
macports
projects
rbenv-bundler
ruby-build
share
source
sql
tmp
websites
x
