Earthquake.config[:token] = 'XXXXX'
Earthquake.config[:secret] = 'XXXXX'

# Earthquake.config[:colors] = (31..36).to_a - [34]
Earthquake.config[:colors] = [30]
# http://archive.linux.or.jp/JF/JFdocs/Bash-Prompt-HOWTO-5.html

Earthquake.config[:color] = {
  :info => 30,
  :notice => 30,
  :event  => 30,
  :url => [30]
}

